body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: black;
  color: white;
  position: sticky;
  top: 0;
  width: 100%;;
}

#headerTitle {
  margin: 0;
  padding: 10px;
  text-align: center;
}

form {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 2px;
}

label {
  position: fixed;
  left: -999999999px;
}

input {
  font-size: xx-large;
  outline: none;
  border-radius: 5px;
  text-indent: 2px;
}

button {
  height: 50px;
  width: 50px;
  font-size: xx-large;
  font-weight: bold;
  color: blue;
  background-color: white;
  border-color: blue;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  border-color: transparent;
  color: white;
  background-color: blue;
}

button:active {
  transform: scale(0.94);
}

.SearchItems {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.SearchItems input {
  width: 440px;
}

main {
  width: 100vw;
  display: flex;
  justify-content: center;
}

main p {
  margin-top: 50px;
  font-size: large;
}

footer {
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;;
}

#footerTitle {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  text-align: center;
}
